<%- include('../static/start.ejs',{name:"admin/objects",async: true}) %>
<%- include('../header.ejs') %>
<style>
    section{
        width: 80vw;
        margin: auto;
    }
</style>

<section>
    <!-- <h1 style="text-align: center;">объект</h1> -->
    <%- include('../admin/objects/object_groups.ejs') %>
    <%- include('../admin/objects/object_creation.ejs') %>
    <%- include('../admin/objects/object_colors.ejs') %>
    <%- include('../admin/objects/object_edit.ejs') %>
</section>

<%- include('../static/end.ejs') %>
<script>
    // setTimeout(()=>{
    //     loaded()
    // },1000);
</script>