<%- include('./static/start.ejs',{name:"admin",async: true}) %>
<%- include('./header.ejs') %>
<style>
    section{
        width: 80vw;
        margin: auto;
    }
</style>

<h1 style="text-align: center;"><%= lang("hello admin") %></h1> <br>
    <section>
        <%- include('./admin/objects/object_creation.ejs') %>
        <%- include('./admin/objects/object_groups.ejs') %>
        <%- include('./admin/objects/object_edit.ejs') %>
    </section>

    <section>
        <%- include('./admin/users/user_reg.ejs') %>
        <%- include('./admin/users/user_edit.ejs') %>
    </section>

    <section style="display: flex; justify-content: space-between;">
        <h1><%= lang("logs") %></h1> <br>
        <div class="logs_div" style="margin: auto 0px;display: flex;">
            <button onclick="goto('/get_logs');"><%= lang("download logs") %></button>
        </div>
    </section>

<%- include('./static/end.ejs') %>